.heading{
    font-size: 20px;
    font-weight: bold;
}
.disp{
    margin-top:15px;
    padding :10px ;
    border: 2px solid blue;
    border-radius: 10px;
}

.btnP{
    color: white;
    background-color: blue;
    border: 1px solid blue;
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
    padding: 10px;
}
.inp{
    font-size: 15px;
    padding: 10px;
}